name: Build OT Calculator

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout 코드
      uses: actions/checkout@v4

    - name: Python 설정
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'

    - name: 라이브러리 설치
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: PyInstaller 빌드
      run: |
        # --collect-all 옵션을 사용하여 설정 파일을 반드시 포함시킵니다.
        pyinstaller --noconfirm --onefile --windowed --name "OT_calculator" `
        --collect-all "rapidocr_onnxruntime" `
        main.py

    - name: 결과물 업로드
      uses: actions/upload-artifact@v4
      with:
        name: OT_calculator_Stable
        path: dist/OT_calculator.exe
