name: Build All-in-One EXE

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout 코드
      uses: actions/checkout@v4 # v4로 업데이트

    - name: Python 설정
      uses: actions/setup-python@v5 # v5로 업데이트
      with:
        python-version: '3.9'

    - name: 라이브러리 설치
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: 모델 파일 미리 다운로드
      run: |
        python download_models.py

    - name: PyInstaller 빌드 (모델 포함)
      run: |
        # --add-data "원본;대상" 형식을 사용하여 models 폴더를 내부 리소스로 삽입
        pyinstaller --noconfirm --onefile --windowed --name "OT_calculator" `
        --add-data "models;models" `
        main.py

    - name: 빌드 결과물 업로드
      uses: actions/upload-artifact@v4 # 여기서 발생한 v3 에러 해결 (v4로 교체)
      with:
        name: OT_calculator_Full_Pack
        path: dist/OT_calculator.exe
